/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Apr 15, 2018, 1:49:23 PM
    Author     : komaaros
*/

.input_error {
    border: 1px solid red;
}

th, td {
    vertical-align: middle !important;
    text-align: center;
}

.select2-container--open {
    z-index: 9999999
}

.custom_select.select2-container .select2-results {
    max-height: 600px;
}

.custom_mbt {
    margin-top: 10px;
    margin-bottom: 10px;
}
